@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: lightseagreen;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#container i{
    font-size: 70px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;

}